# Dependencies
node_modules/
psd/*.*

# Build
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp
temp-vite-app/