*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F3F5FC;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    user-select: none;
}

#box-alert{
    position: absolute;
    top: 150px;
    width: 100%;
    background: transparent;
}

.alert-win{
    width: 250px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.alert-win img{
    background-color: transparent;
    width: 80px;
    padding: 15px 0 0;
}

.alert-win h2{
    background-color: transparent;
    font-size: 32px;
    color: #000000;
}

.alert-win p{
    background-color: transparent;
    padding: 0 0 15px;
}

.alert-win span{
    background-color: transparent;
}

.alert-fail{
    width: 250px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.alert-fail img{
    background-color: transparent;
    width: 80px;
    padding: 15px 0 0;
}

.alert-fail h2{
    background-color: transparent;
    font-size: 32px;
    color: #000000;
}

.alert-fail p{
    background-color: transparent;
    padding: 0 0 15px;
}

.alert-fail span{
    background-color: transparent;
}

#hidden-word div{
    display: inline-block;
    width: 50px;
    padding: 10px;
    margin: 10px;
    border-bottom: 5px solid #0A3871;
    color: #0A3871;
    font-weight: bold;
}

#hidden-word .hidde{
    color: transparent;
}

#wrong-word div{
    display: inline-block;
    margin: 3px;
    color: #0A3871;
    font-weight: bold;
}

#buttons button{
    background: #D8DFE8;
    color: #0A3871;
    font-size: 1.5em;
    width: 250px;
    height: 50px;
    border-radius: 24px;
    margin: 10px 5px;
    border: 1px solid #0A3871;
    cursor: pointer;
    transition: 0.5s;
}

#buttons button:hover{
    background: #0A3871;
    color: #D8DFE8;
    border: 1px solid #0A3871;
    cursor: pointer;
}

#virtual-keyboard {
    width: 450px;
    margin: auto;
    text-align: center;
}

#virtual-keyboard button{
    border: none;
    width: 50px;
    height: 35px;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 5px;
    transition: 0.3s;
    color: #0A3871;
    border: 1px solid #0A3871;
    background: transparent;
}

#virtual-keyboard button:hover{
    background-color: #0A3871;
    color: #ffffff;
}

#virtual-keyboard button:disabled{
    background: transparent;
    color: #0A3871;
}