// Alertas de victoria y derrota
@mixin alert-box {
    width: 250px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: $border-radius-lg;
    border: 1px dashed $primary-color;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    img {
        background-color: transparent;
        width: 80px;
        padding: $spacing-md 0 0;
    }

    h2 {
        background-color: transparent;
        font-size: 32px;
        font-weight: $font-medium;
        color: $black;
    }

    p {
        background-color: transparent;
        padding: 0 0 $spacing-md;
    }

    span {
        background-color: transparent;
    }
}

#box-alert {
    position: absolute;
    top: 150px;
    width: 100%;
    background: transparent;
}

.alert-win {
    @include alert-box;
}

.alert-fail {
    @include alert-box;
}

// Responsive
@media screen and (max-width: 950px) {
    #box-alert {
        top: 90px;
    }
}