// Teclado virtual
#virtual-keyboard {
    max-width: 450px;
    margin: auto;
    text-align: center;

    button {
        border: 1px solid $secondary-color;
        background: transparent;
        width: 50px;
        height: 35px;
        font-size: 20px;
        margin: 4px 2px;
        border-radius: $border-radius-sm;
        transition: $transition-fast;
        color: $secondary-color;

        &:hover {
            background-color: $secondary-color;
            color: $white;
        }

        &:disabled {
            background: transparent;
            color: $secondary-color;
        }
    }
}